
*{margin:0px; padding:0px;}
a{ text-decoration:none; }
.box_css{ 
	width: 265px; margin:0px auto; position:relative;}
	.nav2{ width:100%; float:left; height:39px;}
	.nav2 li{ font-size:14px;  float:left; width:110px; margin-left:8px;margin-right:14px; height:34px;-webkit-transition:all 0.35s linear; cursor:pointer; text-align:center; line-height:32px; list-style-type:none; padding-top:5px;}
	.nav2 li.on{ color:rgb(38,132,194);}
	.line{width: 98px; float:left; position:relative; left:0; top:0px;height: 2px;/* background:#dadada;*/}
    
	.s_line{
		position: absolute;
		display:block;
		width:105px;
		z-index: 1;
		top: -7px;
		left: 0;
		height: 7px;
		border-bottom: 2px solid rgb(38,132,194);
		overflow: hidden;
		text-align: center;
	}

  .nav2{
		background:url(../images/bv.png);
	}
	.s_line b{
		display: inline-block;
		margin-top: -8px;
		width: 0;
		height: 0;
		border-style: dashed dashed solid;
		border-width: 10px;
		border-color: transparent transparent rgb(38,132,194);
		overflow: hidden;
		zoom: 1;
		font-size: 0;
	}
	.zlbox_content{
		width: 265px;
		margin: 0 auto; 
	}
	.item_tab{
		min-height: 150px;
		border: 1px solid #dadada;
		border-top: 0px;
		padding: 20px;
		text-align:center;
	}	