@charset "utf-8";
/* CSS Document */

.ss {
display:block;
/*position:absolute;*/
/*top:1.2em;*/
margin-top:-6px;
/*margin-left:85px;*/
left:1;
width:220px;
height:auto;
text-align:center;
/*border:1px solid #CCC;
*/background-color:transparent;!important
font-size:12px;
}
.ss li a:hover {
	text-decoration:none;
	color:#666;
	background:rgb(240,240,240);
	}
.ss li a{
	display:block;
	text-decoration:none;
	color:#666;}
 .ss {
	display: none;
}
li .cli{
	color:#333;
	font-weight:bold;
	}
